<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/style_h.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<div class="container-fluid">
				<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" href="/">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="query">Queries</a>
				</li>
				</ul>
			</div>
		</nav>
        <h1><b>About The Data</b></h1>
        <p>
            The data used in this web app is from the CORGIS Dataset Project and can be found 
            <a href="https://think.cs.vt.edu/corgis/json/health/">here</a>. The data contains information and statistics about health conditions and their growth 
            within the US. The data goes as far back as 1928 and shows the location and number of affected people.
        </p>
        <p>
            This website's goal is to compile the CORGIS Health dataset into a more easily navigatable format. Our website will tell you the total recorded case numbers
            for a given health condition and also when and where it had it was most infectious. 
        </p>
        <p>
            Not all health conditions are present in this dataset. Please refer to the dataset itself to see the included conditions. Some examples of included conditions are Polio, Mumps, Smallpox,
            Pertussis, Hepatitis A, Rubella, Measles and other conditions. 
        </p>
        <img src="static/vaccine.jpg" alt="A health profesional preparing a vaccine to be administered">
    </body>
</html>